h2 {
    color: red;
}
.simpleFrom {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
}
.simpleFrom input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
}
.simpleFrom p {
    color: red;
}
.box {
    height: 200px;
    width: 1366px;
    background: #ccc;
    /* align-items: center; */
    margin-left: calc((100% - 1366px)/2);
    padding-top: calc((100px)/2);
    box-sizing: border-box;
}
.box .inner {
    height: 100px;
    width: 100%;
    background: #ff0000;
}
.box .inner1 {
    height: 10px;
    width: 100%;
    background: blanchedalmond;
}